.contactUs{
    background-color: #263238;
    padding:50px 0;
}
.contactUs .contactUsContainer{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
.contactUs .contactUsContainer .formContainer{
    background-color: #fff;
    padding:20px 30px;
    border-radius: 14px;
    width:40%;
}
.contactUs .contactUsContainer .formContainer .formTitle{
    color:#E8505B;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    margin-bottom:30px;
}
.form{
    width:100%;
}
.formElement{
    display: flex;
    margin-top:10px;
    width:100%;
}
.formElement .iconContainer{
    padding:10px 20px;
    border-top:2px solid rgba(112,112,112,0.4);
    border-left:2px solid rgba(112,112,112,0.4);
    border-bottom:2px solid rgba(112,112,112,0.4);
    border-radius: 14px 0 0 14px;
    background-color: #F0F0F0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
}
.formElement .iconContainerFocus{
    background-color: #E8505B;
    border-top:2px solid #E8505B;
    border-left:2px solid #E8505B;
    border-bottom:2px solid #E8505B;
}
.iconContainer svg{
    fill:#707070;
    height:20px;
    width:20px;
}
.formElement .iconContainerFocus svg{
    fill:#fff;
}
.formElement input{
    border:2px solid rgba(112,112,112,0.4);
    border-radius: 0 14px 14px 0;
    font-size: 1rem;
    color: #263238;
    padding-left:20px;
    background-color: #F0F0F0;
    flex:1;
}
.formElement input:focus{
    border:2px solid #E8505B;
}
.textarea{
    font-size: 1rem;
    border:2px solid rgba(112,112,112,0.4);
    border-radius: 14px;
    color:#263238;
    padding:10px;
    margin-top:10px;
    width:100%;
    background-color: #F0F0F0;
    height: 100px;
    resize: none;
}
.textarea:focus{
    border:2px solid #E8505B;
}
.sendBtnContainer{
    justify-content: center;
}
.sendBtn{
    margin-top:20px;
    padding:5px 20px;
    display: inline-flex;
    align-items: center;
    background-color: #E8505B;
    color:#fff;
    border:2px solid #E8505B;
    font-size:1.1rem;
    cursor: pointer;
    background: linear-gradient(to right, white 50%,  #E8505B 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    border-radius: 24px;
    transition: all 0.3s ease-out;
}
.sendBtn:hover{
    background-color: #fff;
    color:#E8505B;
    border:2px solid #E8505B;
    background-position: left bottom;
}
.sendBtn:hover svg{
    fill:#E8505B;
}
.sendBtn svg{
    fill:#fff;
    margin-left: 10px;
    transform: rotate(10deg);
}
.formLastLine{
    display: flex;
    align-items:flex-start;
    font-size: 0.8rem;
    margin-top:15px;
}
.formLastLine svg{
    height:17px;
    width:17px;
    margin-right:5px;
}
.teamSection{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 40px 0 30px 0;
    border-radius: 14px;
    margin-left: 20px;
}
.teamContainer{
    display: flex;
    /* justify-content: center; */
}
.teamMember{
    background-color: #fff;
    padding:40px 20px 20px 20px;
    color:#263238;
    font-size:1rem;
    position: relative;
    margin-right:10px;
    border-radius: 4px;
    box-shadow: 0 0 5px grey;
}
.teamMemberPhoto{
    height:70px;
    width:70px;
    position: absolute;
    border-radius: 50%;
    background-color: aqua;
    top:-35px;
    left:10px;
}
.name{
    text-transform: uppercase;
    margin:10px 0;
}
.aboutInfo{
    display: flex;
    justify-content: center;
    color:#fff;
    margin-top:30px;
    /* width:50%; */
}
.socialInfo{
    /* width:70%; */
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    border-top:1px solid grey;
    margin-top: 25px;
    padding-top:20px;
    /* justify-content: center; */
}
.socialInfo .tagLine{
    color:#E8505B;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.socialMedia{
    width:150px;
    display: flex;
    align-items: center;
    color:#fff;
    background-color: #fff;
    margin-top:10px;
    padding:5px 20px;
    border-radius: 24px;
    border:2px solid #E8505B;
    cursor: pointer;
    background: linear-gradient(to right,  #fff 50%,  #E8505B 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    border-radius: 24px;
    transition: all 0.3s ease-out;
}
.socialMedia:hover{
    background-color: #fff;
    color:#E8505B;
    border:2px solid #E8505B;
    background-position: left bottom;
}
.socialMedia:hover svg{
    fill:#E8505B;
}
.socialMedia svg{
    fill:#fff;
    margin-right:10px;
}
@media (min-width: 0px) and (max-width: 950px) {
    .contactUs .contactUsContainer{
        flex-direction:column;
    }
    .contactUs .contactUsContainer .formContainer{
        width:100%;
    }
    .teamSection{
        width:100%;
        padding: 40px 0 30px 0;
        border-radius: 14px;
        margin-left:0px;
        margin-top: 50px;
    }
    .teamContainer{
        flex-direction: column;
    }
    .teamMember{
        margin-top:10px;
    }
    .lastTeamMember{
        margin-top:50px;
    }
}
/* @media (min-width: 681px) and (max-width: 1050px) {
    .teamSection{
        width:60%;
        padding: 40px 0 30px 0;
        border-radius: 14px;
        margin-left:0px;
        margin-top: 50px;
    }
    .teamContainer{
        flex-direction: column;
    }
    .teamMember{
        margin-top:10px;
    }
    .lastTeamMember{
        margin-top:50px;
    }
} */