.footerContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:10px 0;
}
.footerItemContainer{
    display: flex;
    flex-direction: column;
    margin-bottom:10px;
}
.footerItemContainer .ItemTitle{
    color:#E8505B;
    text-transform: uppercase;
}
.footerItemContainer p{
    color:#263238;
    margin-top:15px;
}
.iconContainer{
    display: flex;
    align-items: center;
    margin-top:20px;
    /* justify-content: center; */
}
.iconContainer p{
    margin: 0;
}
.iconContainer svg{
    margin-right:7px;
    height:20px;
    width:20px;
}
.freepik{
    border-top:1px solid grey;
    padding:10px 0;
    display: flex;
    justify-content: center;
}
.freepik a{
    color:#263238;
}
@media (min-width: 0px) and (max-width: 680px) {
    .footerItemContainer{
        width: 50%;
        margin-top: 20px;
    }
}