.totalHeader{
    display: flex;
    flex-direction: column;
    height:100vh;
}
.navbar{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    box-shadow: 0 0 5px rgb(177, 172, 172);
}
.brand{
    font-size:1.3rem;
    color:#606060;
    font-weight:700;
}
.navlinks{
    display: flex;
    align-items: center;
}
.navlink{
    margin-left:25px;
    color:#263238;
    font-size:1.1rem;
    cursor: pointer;
    /* text-decoration: none; */
    transition: all 0.3s;
    
}
.navlink:hover{
    color:#E8505B;
}
.contactusbtn{
    background-color: #E8505B;
    color:#fff;
    border:2px solid #E8505B;
    font-size:1rem;
    cursor: pointer;
    background: linear-gradient(to right, white 50%,  #E8505B 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.3s ease-out;
}
.contactusbtn:hover{
    background-color: #fff;
    color:#E8505B;
    border:2px solid #E8505B;
    background-position: left bottom;
}
.contactusbtnv2{
    background-color: #E8505B;
    color:#fff;
    border:2px solid #E8505B;
    font-size:1.1rem;
    cursor: pointer;
    margin-right: 8px;
    background: linear-gradient(to right, white 50%,  #E8505B 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.3s ease-out;

}
.contactusbtnv2:hover{
    background-color: #fff;
    color:#E8505B;
    border:2px solid #E8505B;
    background-position: left bottom;
}
.totalHeader .herosectioncontainer{
    flex:1;
    padding:0 50px;
}
.herosection{
    display: flex;
    align-items:center;
    justify-content: space-around;
    height:100%;
    /* height:calc(100vh - 70px); */
}
.herosection .herotext
{
    max-width:50%;
}
.herosection .herotext .herotextsubheading{
    color:#E8505B;
    font-size:1.5rem;
    font-weight: 400;
}
.herosection .herotext .herotextheading{
    font-size:1.8rem;
    margin: 7px 0 30px 0;
    font-weight: 400;
}
.herotextgroup{
    display: flex;
    align-items: center;
}
.svgImage{
    max-width: 70%;
    max-height:70%;
}
@media (min-width: 0px) and (max-width: 680px) {
    .totalHeader{
        height:auto;
    }
    .navbar{
        padding:20px 20px;
        /* background-color: #E8505B;
        color:#fff; */
    }
    .brand{
        font-size:1.1rem;
    }
    .navlink{
        display: none;
    }
    .totalHeader .herosectioncontainer{
        padding:50px 20px;
    }
    .herosection{
        flex-direction: column;
        display: flex;
        align-items:center;
        justify-content: space-around;
        height:100%;
        /* height:calc(100vh - 70px); */
    }
    .herosection .herotext
    {
        max-width:100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom:50px;
        border-bottom: 1px solid rgb(201, 201, 201);
    }
    .herosection .herotext .herotextsubheading{
        font-size:1.7rem;
        font-weight: 400;
    }
    .herosection .herotext .herotextheading{
        font-size:1.6rem;
        margin: 10px 0 20px 0;
        font-weight: 400;
    }
    .svgImage{
        padding-top:50px;
        max-width: 100%;
        max-height:100%;
    }
}
  /* @media (min-width: 481px) and (max-width: 768px) {

} */