.services{
    background-color: #263238;
    padding:30px 0;
}
.services h2{
    color:#fff;
}
.featuresContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#fff;
    font-size:1.2rem;
    margin:50px 0 30px 0;
}
.featuresContainer .features .featureHeading{
    text-transform:uppercase;
    padding-bottom:10px;
}
.featuresContainer .features .feature{
    display: flex;
    align-items: center;
    padding:15px 30px 15px 0;
}
.featuresContainer .features .feature svg{
    height:25px;
    width:25px;
    margin-right:10px;
}
.featuresContainer .imageContainer{
    max-width:50%;
    height: auto;
}
.featuresContainer .imageContainer img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 14px;
    box-shadow:0 0 10px black;
}
@media (min-width: 0px) and (max-width: 680px) {
    .featuresContainer{
        flex-direction: column;
    }
    .featuresContainer .imageContainer{
        max-width:80%;
        height: auto;
        margin-top:30px;
    }
}