.tagline{
    background-color: #E8505B;
    padding:50px 0;
}
.taglineContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.taglineContainer p{
    color:#fff;
    font-size:1.9rem;
    margin-bottom:30px;
}
.taglineContainer button{
    padding:10px 30px;
    border-radius: 50px;
    font-size:1.3rem;
    color:#263238;
    border:2px solid white;
    cursor: pointer;
    background: linear-gradient(to right,#E8505B 50%,  white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.3s ease-out;
}
.taglineContainer button:hover{
    background-position: left bottom;
    color:#fff;
    border:2px solid white;
}
@media (min-width: 0px) and (max-width: 950px) {
    .taglineContainer p{
        font-size:2.2rem;
        padding:0 5px;
    }
}