.testimonails{
    padding:60px 0 40px 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y:visible;
    margin:0 auto;
}
.testimonails::-webkit-scrollbar {
    display: none;
}
.testimonails {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
.testimonialContainer{
    padding:30px 0;
}
.testimonails .testimonail{
    display: inline-block;
    background-color: #fff;
    padding:10px;
    border-radius: 4px;
    box-shadow:0 0px 10px rgba(0,0,0,0.16);
    width:calc(100% / 3 - 30px);
    margin:10px;
    height:auto;
    font-size: 1.1rem;
    position:relative;
    white-space:normal;
}
.authorImage{
    height:70px;
    width:70px;
    border-radius: 50%;
    background: teal;
    position:absolute;
    left:35%;
    top:-35px;
}
.testimonails .testimonail .comment{
    color:rgba(96,96,96,1);
    padding:40px 0;
}
.testimonails .testimonail .author{
    color:#E8505B;
    font-size: 1.1rem;
    padding-top:10px;
}
.ratingContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.closequoteContainer{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
@media (min-width: 0px) and (max-width: 680px) {
    .testimonails .testimonail{
        width:80%;
    }
}
@media (min-width: 681px) and (max-width: 1050px) {
    .testimonails .testimonail{
        width:60%;
    }
}