.work{
    /* height:100vh; */
    padding:30px 0;
    width:100%;
} 
.workBoxContainer{
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top:20px;
}
.workBox{
    height:200px;
    width:80%;
    padding:10px;
    margin:10px 10px;
    box-shadow: 0 0 10px rgb(177, 172, 172);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.workBox .image{
    max-width:100%;
    max-height: 100%;
    border-radius: 4px;
}
.workBox .content{
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color:#606060;
    margin-left: 60px;
    width:50%;
}
.left .content{
margin-left:10px;
}
.workBox .content .contentTheory{
    display: flex;
    flex-direction: column;
    /* align-items: baseline; */
}
.workBox .content .contentTheory div{
    margin-top:5px;
}
.workBox .content .title{
    text-transform: uppercase;
    color:#E8505B;
    /* text-align: center; */
    /* margin-bottom:15px; */
}
.workBox .content div{
    display: flex;
}
.workBox .content div svg{
    margin-right:10px;
}
.withIcon{
    display: flex;
    align-items: center;
}
.exportBtn{
    display: flex;
    align-items: center;
    background-color: #E8505B;
    color:#fff;
    border:2px solid #E8505B;
    padding:5px 20px;
    border-radius: 24px;
    font-size:1rem;
    cursor: pointer;
    background: linear-gradient(to right, white 50%,  #E8505B 50%);
    background-size: 250% 150%;
    background-position: right bottom;
    transition: all 0.3s ease-out;
}
.exportBtn:hover{
    background-color: #fff;
    color:#E8505B;
    border:2px solid #E8505B;
    background-position: left bottom;
}
.exportBtn:hover svg{
    fill:#E8505B;
}
.exportBtn svg{
    margin-left:10px;
    fill:#fff;
}
.moreBtn{
    border:2px solid #263238;
    margin-top:20px;
    background-color: #263238;
    background: linear-gradient(to right, white 50%,  #263238 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}
.moreBtn:hover{
    border:2px solid #263238;
    color:#263238;
}
.moreBtn svg{
    stroke:#fff;
}
.moreBtn:hover svg{
    stroke:#263238;
}
@media (min-width: 0px) and (max-width: 680px) {
    .workBox{
        height:auto;
        width:99%;
        padding:10px;
        margin:10px 10px;
        box-shadow: 0 0 10px rgb(177, 172, 172);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .workBox .content{
        /* height:100%; */
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        color:#606060;
        margin-left: 0;
        width:100%;
    }
    .workBox .content .title{
        margin-top:15px;
    }
    .exportBtn{
        margin:15px 0;
    }
}
@media (min-width: 681px) and (max-width: 1050px) {
    .workBox{
        flex-direction: row;
        width:99%;
        height:auto;
    }
    .workBox .image{
        max-width:50%;
        max-height: 100%;
        border-radius: 4px;
    }
    .workBox .content{
        /* height:100%; */
        font-size: 1rem;
        width:100%;
    }
    .exportBtn{
        margin:10px 0 0 0;
    }
}