html,
body {
  background-color: #f0f0f0;
  font-family: 'Nunito', sans-serif;
}

a {
  text-decoration: none;
}
h2{
  text-align: center;
  color:#263238;
}
h2::after{
  height: 3px;
  display: block;
  width: 80px;
  margin:3px auto 0 auto;
  background: #E8505B;
  border-radius: 50px;
  /* border-right: 1px white; */
  content: '';
}
.btn{
  padding:5px 20px;
  border-radius: 50px;
}
.align-with-icon{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.container{
  margin:0 50px;
  overflow: hidden;
}
.align-with-icon img{
  margin-right: 7px;
}
.expore-btn{
  display: flex;
  justify-content: center;
}
.expore-btn div{
  padding:5px 20px;
  border-radius: 50px;
  display: inline-flex;
  
}
.expore-btn div p{
  margin-right:10px;
  color:#fff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
::placeholder {
  color: rgba(96,96,96,0.7);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: rgba(96,96,96,0.7);
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: rgba(96,96,96,0.7);
}

@media (min-width: 0px) and (max-width: 680px) {
  .container{
    margin:0 10px;
  }
}